extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

       

        
          h1 #{project.project_name}

        
          p #{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in project.technologies
            li= technology

        //- Add the href values to the links below
        a.btn-link(href=`${project.live_link}`, target='_blank') Live Demo
        a.btn-link(href=`${project.github_link}`, target='_blank') GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      img.project-img(src=`${project.image_urls}`, alt=`screenshot of ${project.project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
